<!DOCTYPE html>
<html>
<head>
	<title>Media Naranja</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
	<header class="homebanner">
		<div class="jumbotron" id="imgSlider">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">
			        <img class="logo-header" alt="logo" src="../img/logo medianaranja-08.png">
			      </a>
			    </div>
			  </div>
			</nav>
			<div class="header-text">
			 <!--  <h1>Media Naranja</h1> -->
			  <p>Cuando menos lo pienses..</p>
			  <p>..Encuentra tu otra mitad</p>
			  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
			</div>
		</div>
	</header>

	<section class="bloque2">
		<section class="tituloBloque2 container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="tittle-bloque2">Tu próximo encuentro comienza aquí</h2>
				</div>
			</div>
			<div class="container">
				<div class="row">	
					<div class="col-md-4">
						<img src="../img/paso1.png" class="img-responsive" alt="Responsive image">
					</div>
					<div class="col-md-4">
						<img src="../img/paso2.png" class="img-responsive" alt="Responsive image">
					</div>
					<div class="col-md-4">
						<img src="../img/paso3.png" class="img-responsive" alt="Responsive image">
					</div>
				</div>
			</div>
		</section>
	</section>

	<section class="bloque3">
		<section class="container">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs center-block" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mujeres</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Hombres</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			  	<div role="tabpanel" class="tab-pane" id="profile">
			    	<div class="row">
			    		<div class="col-md-3">
			    			<img src="../img/boy0.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Sebastian Navarro</strong></p>
			    			<p><strong>Edad: </strong>31 años</p>
			    			<p><strong>Correo: </strong>Snavarro@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy2.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Julian Campos</strong></p>
			    			<p><strong>Edad: </strong>26 años</p>
			    			<p><strong>Correo: </strong>JCampos@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy3.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Miguel Bustillo</strong></p>
			    			<p><strong>Edad: </strong>35 años</p>
			    			<p><strong>Correo: </strong>Mbustillo@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy4.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Alejandro Olcelse</strong></p>
			    			<p><strong>Edad: </strong>23 años</p>
			    			<p><strong>Correo: </strong>Aolcelse@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy1.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Derek Vega</strong></p>
			    			<p><strong>Edad: </strong>27 años</p>
			    			<p><strong>Correo: </strong>Dvega@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy6.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Martin Kunz</strong></p>
			    			<p><strong>Edad: </strong>28 años</p>
			    			<p><strong>Correo: </strong>MKunz@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy7.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Ralph Simons</strong></p>
			    			<p><strong>Edad: </strong>30 años</p>
			    			<p><strong>Correo: </strong>RSimons@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/boy8.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">José Muran</strong></p>
			    			<p><strong>Edad: </strong>32 años</p>
			    			<p><strong>Correo: </strong>JMuran@mnaranja.com</p>
			    		</div>
			    	</div>
			    </div>
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="row">
			    		<div class="col-md-3">
			    			<img src="../img/women1.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Mercedes Zubieta</strong></p>
			    			<p><strong>Edad: </strong>27 años</p>
			    			<p><strong>Correo: </strong>Mzubieta@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women2.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Lili Peralta</strong></p>
			    			<p><strong>Edad: </strong>26 años</p>
			    			<p><strong>Correo: </strong>Lperalta@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women3.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Ale López</strong></p>
			    			<p><strong>Edad: </strong>24 años</p>
			    			<p><strong>Correo: </strong>Alopez@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women4.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Sara Castil</strong></p>
			    			<p><strong>Edad: </strong>31 años</p>
			    			<p><strong>Correo: </strong>Scastil@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women5.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Lezmit Garcia</strong></p>
			    			<p><strong>Edad: </strong>33 años</p>
			    			<p><strong>Correo: </strong>Lgarcia@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women6.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Sofia Campos</strong></p>
			    			<p><strong>Edad: </strong>35 años</p>
			    			<p><strong>Correo: </strong>SCampos@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women7.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Sammia Zubiza</strong></p>
			    			<p><strong>Edad: </strong>21 años</p>
			    			<p><strong>Correo: </strong>SZubiza@mnaranja.com</p>
			    		</div>
			    		<div class="col-md-3">
			    			<img src="../img/women8.jpg" class="img-responsive img-perfiles" alt="Responsive image">
			    			<p><strong class="text-orange">Paola Ortiga</strong></p>
			    			<p><strong>Edad: </strong>27 años</p>
			    			<p><strong>Correo: </strong>Portiga@mnaranja.com</p>
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
		</section>
	</section>

	<section class="bloque4">
		<div class="container">
			<div class="homesection">
				<!-- <div class="node">
					<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
					<h2 id="chat">powered web chat</h2>
				</div> -->
				<a title="Create" href="/create" id="create">
					<div id="createbutton">
						<div id="little">Crea tu Chat Privado</div>
						<div id="big">EMPIEZA!</div>
					</div>
				</a>
				<!-- <div class="tutorial">
					<a title="Download the source code." href="http://tutorialzine.com/2014/03/nodejs-private-webchat/" id="tutorial">
						or download a copy of the source code here
					</a>
				</div> -->
			</div>
		</div>
	</section>

  <section class="bg-light">
    <div class="container pd-5">
      <div class="row text-center text-white">
        <div class="col-lg-6 col-xs-12">
            <h4 class="text-uppercase"><strong>dirección</strong></h4>
            <p class="pd-lr-10">Av. Grau 120, Miraflores. Lima</p>
        </div>
        <div class="col-lg-6 col-xs-12 text-white">
            <h4 class="text-uppercase"><strong>sugerencias</strong></h4>
            <p class="pd-lr-10">Para màs información y sugerencias escríbenos a ServicioCliente@mediamanzana.com
            </p>
        </div>
      </div>
    </div>        
  </section>

  <footer class="bg-dark">
      <div class="container">
          <div class="row text-center text-white">
              <div class="col-lg-12 col-xs-12">
                  <p class="text-capitalize mg-tb-1">copyright © your website 2014</p>
              </div>
          </div>           
      </div>        
  </footer>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>
